<mat-toolbar class="main-nav" color="primary">
  <div class="title">
    <p>{{ appName }}</p>
  </div>
  <div class="actions">
    <button mat-icon-button aria-labelledby="Estado del puerto de comunicación" (click)="showCommunicatorSelector()">
      <mat-icon>usb</mat-icon>
    </button>
    <button mat-icon-button aria-labelledby="Mostrar el teclado" (click)="activateKeyboard()">
      <mat-icon>{{keyboard}}</mat-icon>
    </button>
    <button mat-icon-button aria-labelledby="Pantalla completa" (click)="toggleFullScreen()">
      <mat-icon>{{screen}}</mat-icon>
    </button>
    <button mat-icon-button aria-labelledby="Configuración" (click)="configuration()">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button aria-labelledby="Salir de la aplicación" (click)="goto('logout')">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="module">
  <router-outlet></router-outlet>
</div>
