<div class="navigation-container">
  <mat-toolbar class="main-nav" color="primary">
    <div class="title"><p>Carniceria pabellon</p></div>
    <div class="filler"></div>
    <button mat-icon-button aria-labelledby="Mostrar el teclado" (click)="activateKeyboard()">
      <mat-icon>{{keyboard}}</mat-icon>
    </button>
    <button mat-icon-button aria-labelledby="Configuración" (click)="configuration()">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button aria-labelledby="Salir de la aplicación" (click)="goto('logout')">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [hasBackdrop]="(isHandset$ | async)">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
      <mat-nav-list>
        <div class="main-menu">
          <div class="module" >
            <div class="module-title">
              <mat-icon class="sep-right-15"></mat-icon> <div>Modulo</div>
            </div>
            <div class="submodules">
              <a  (click)="goto('submodule')">Link</a>
            </div>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
