.product-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  .label {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .data {
    background: rgb(235, 235, 235);
    border-radius: 5px;
    padding: 8px;
    height: 20px;
  }
  .selected-product, .customer, .sale-type {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
    .label {
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 5px;
    }
    .data {
      background: rgb(235, 235, 235);
      border-radius: 5px;
      padding: 8px;
      height: 20px;
    }
    .name {
      display: flex;
      text-align: left;
      height: 38px;
      justify-content: space-between;
      align-items: center;
    }
    .product-description,
    .product-data {
      margin-bottom: 10px;
      .button-align-center{
        display: flex;
        align-items: flex-end;
      }
      .error-data {
        color: rgb(182, 0, 0);
      }
    }
  }
}
