:host {
  --primary-color-dark: #3a3a3a;
  --primary-color: #e6e6e6;
  --primary-color-light: #c5cae9;
  --primary-color-text: #ffffff;
  --accent-color: #cddc39;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
}
