:host {
  --primary-color-dark: #060921;
  --primary-color: #2e3148;
  --primary-color-light: #c5cae9;
  --primary-color-text: #ffffff;
  --accent-color: #cddc39;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
}
