@import url("../../../../colors.scss");

.pos {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 10px;
  gap: 10px;

  .catalog {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;

    .product-types {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
      overflow-y: hidden;
      overflow-x: scroll;
      scrollbar-width: none;
      height: 70px;

      .product-type {
        display: flex;

        .product-type-button {
          width: 125px;
          height: 60px;
        }
      }
    }

    .products {
      display: flex;
      gap: 10px;
      height: 100%;
      overflow-y: auto;
      overflow-x: auto;
      scrollbar-width: none;
      flex-wrap: wrap;
      align-content: flex-start;

      .product {
        display: flex;

        .product-button {
          width: 125px;
          height: 60px;
        }
      }
    }
  }

  .order-items {
    height: calc(100% - 110px);
    max-height: calc(100% - 110px);
    overflow: auto;

    .pos-table {
      width: 100%;

      td.mat-cell:first-of-type {
        padding-left: 0px;
      }

      td.mat-cell:last-of-type {
        padding-right: 0px;
      }
    }
  }

  .order-total {
    display: block;
    font-weight: 800;
    font-size: 20px;
    text-align: right;

    .label {
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .data {
      background: rgb(235, 235, 235);
      border-radius: 5px;
      padding: 8px;
      height: 20px;
    }
  }

  .order-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin-left: 10px;

    .selected-product,
    .customer,
    .sale-type {
      font-weight: 800;
      font-size: 20px;
      margin-bottom: 10px;
      text-align: right;

      .label {
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 5px;
      }

      .data {
        background: rgb(235, 235, 235);
        border-radius: 5px;
        padding: 8px;
        height: 20px;
      }

      .name {
        display: flex;
        text-align: left;
        height: 38px;
        justify-content: space-between;
        align-items: center;
      }

      .product-description,
      .product-data {
        margin-bottom: 10px;

        .button-align-center {
          display: flex;
          align-items: flex-end;

          button {
            width: 100%;
          }
        }

        .error-data {
          color: rgb(182, 0, 0);
        }
      }
    }
  }
}
